* {
  font-family: 'Montserrat', sans-serif;
}
html {
  background-image: url('https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: 100%;
}
body {
  padding: 0 50px;
  margin: 5px;
}
main {
  display: flex;
  justify-content: space-between;
}
input {
  border-radius: 18px;
  text-align: center;
}
button {
  border-radius: 25px;
}
.header {
  background-color: #25202071;
  border-radius: 5px;
  margin-bottom: 5px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}
.search {
  text-align: center;
  padding-bottom: 10px;
  font-size: 15px;
}
.search__input {
  padding: 3px;
  border: 1px solid #333;
  margin-bottom: 15px;
  caret-color: rgb(30, 215, 95);
}
.search__button {
  display: inline-block;
  padding: 3px;
  border: 1px solid #333;
  background-color: rgb(30, 215, 95);
}
#invalid-message {
  margin: 0px;
  color: white;
  font-weight: 10;
  font-size: 12px;
  font-style: oblique;
}
.hidden {
  display: none;
}
.filter {
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(30, 215, 95);
  caret-color: rgb(30, 215, 95);
  outline-color: rgb(30, 215, 95);
  outline-style: none;
}
.filter:focus {
  border: 2px solid rgb(30, 215, 95);
}
.table {
  width: 48%;
  border: 1px solid #333;
  background-color: white;
  border-radius: 5px;
  /* max-height: 400px; */
}
#albums{
  overflow: scroll;
  max-height: 400px;
  -webkit-overflow-scrolling: touch;
}
.table h3 {
  text-align: center;
  margin: 8px;
}
.table__header {
  background-color: #333;
  font-weight: bold;
  color: white;
}
.table__row {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #333;
  font-size: 14px;
}
.table__row.album__row:nth-child(even) {
  background: rgba(128, 128, 128, 0.281);
}
.table__row:hover:not(.table__header) {
  opacity: 0.85;
  background-color: rgb(30, 215, 95);
}
.table__row:last-child {
  border-bottom: 0;
}
.table__cell {
  margin-right: 10px;
}
.table__cell--short {
  flex-shrink: 0;
  width: 50px;
}
.table__cell:last-child {
  margin-right: 0px;
}
.drop__zone {
  border: 3px solid rgb(30, 215, 95);
}
.selected {
  background: rgb(30, 215, 95) !important;
}
